/*  Main Styles */
body{
    background: #222;
}
header{
    top:0; left:0;
    height:45px;
}
footer {
    bottom:0; left:0;
    height:48px;
    background-color:#c27b00;
    border-top:1px solid #eee;
}
header, footer{
    background-color:#B5B5B5;
    padding:0;
    position:absolute;
    z-index:2;
    font-size:20px;
    width:100%;
    text-align:center;
    color:#f3f3f3;
    font-weight:bold;
    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
    line-height:45px;
}
h1{
    margin:0;
    text-transform: uppercase;
}
#wrapper {
    position:absolute;
    z-index:1;
    top:45px;
    bottom:48px;
    left:0;
    width:100%;
    overflow:auto;
}
#main-content {
    position:absolute;
    z-index:1;
    width:100%;
    padding:0;
    color: #eeeeee;
    bottom:0px;
    top:0px;
}

/* Tab Bar */

#tab-bar{
    margin:0;
    padding:0;
}
#tab-bar li {
    display: inline;
    float:left;
    width: 33.333%;
    cursor: pointer;
}
#tab-bar a {
    color: #5E5D5E;
    display: block;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-touch-callout:none;
}

/* Pages */

#pages{
    position:absolute;
    bottom:0px;
    top:0px;
    margin-bottom: 0px;
    width: 100%;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #222;

}
.slides li {
    padding: 10px;
}
/*#pages > ul > li {*/
    /*display: none;*/
    /*position: absolute;*/
    /*top:0;left:0;*/
    /*width:100%;*/
/*}*/
/*#pages > div.current {*/
    /*display: block;*/
/*}*/